/* DISPLAY: FLEX put elements in a horizontal line */
/* FLOAT: LEFT OR RIGHT where elements go in div */

#banner {
    height: 50px;
}

.bannerbar {
/*    height: 50px;*/
    width: 100%;
    /* background-color: var(--space--blue); */
    background-color: #2C7E9E;
    color: var(--soft--grey);
    display: inline-block;
    grid-area: header;
}

.bannerbar a { 
  color: var(--soft--grey);
  text-decoration: none;
}

.bannerbar a:hover { 
    color: var(--pnnl--orange); 
}

#group-logo:hover, #lab-logo:hover {
    filter: var(--pnnl--orange-img2);
}

#name-logo-container {
    display: flex;
}

#app-name {
    padding-left: 20px;
    padding-right: 5px;
    font-size: 40px;
}

#app-logo {
    padding-bottom: 5px;
    padding-top: 5px;
    filter: var(--pnnl--orange-img);
 }

#group-logo, #lab-logo {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.bannerbar a:nth-child(1) {
/*  background-color: red;*/
  float: left;
}
.bannerbar a:nth-child(2) {
/*  background-color: green;*/
  float: right;
}
.bannerbar a:nth-child(3) {
/*  background-color: green;*/
  float: right;
}

.svg {
    height: 50px;
}
.logo {
    height: 50px;
}

