#deck-gl {
    /* left: auto !important; */
    /* top: auto !important; */
}

#deckgl-wrapper {
    /* height: 50% !important; */
    /* width: 50% !important; */
    left: auto !important;
    top: auto !important;
    position: relative !important;
    z-index: 1 !important;
    height: var(--body--height) !important; /* Adjust width based on viewport height */
    width: calc(100vw - 0px) !important; /* Adjust width based on viewport width */
    /* width: 100% !important; */
    /* margin-left: -100px !important; */
    /* border: 1px solid red; */
    /* Can change "space" color: */
    /* background-color: black !important; */
}

.dash-loading .dash-loading-content {
    background-color: transparent; /* Make loading content background transparent */
}