body {
    background-color: var(--soft--grey);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
/*    min-height: 100%;*/
/*    display: grid;*/
    /* let content auto to occupy remaining height and pass value in fit-content with min-height for header and footer */
/*    grid-template-rows: fit-content(8rem) auto fit-content(8rem);*/
/*    grid-template-areas: "header" "main" "footer";*/

}

#app-container {
    height: 100%;
}

#page-body {
    height: var(--body--height);
    background: white;
    /* background: rgba(255, 255, 255, 0.1); */
    display: flex;
    flex: auto;
    -webkit-overflow-scrolling: touch;
    /* vertical-align: bottom; */
    margin-top: -6px;
}

.map-column {
    /* border: 3px solid red; */
    height: var(--body--height);
    width: calc(100vw - 0px);
    overflow: auto;
}

/* Right and Left Panels */

.nav-column {
    background-color: var(--soft--grey);
    padding-left: 15px;
    padding-right: 15px;
    /* width: 350px; */
    overflow-y: scroll;
    z-index: 2;
    position: absolute; /* Positioning it relative to the parent */
    top: 0;
    right: 0;
    width: 250px; /* Set the desired width */
    height: 100%; /* Full height of the parent */
    /* background-color: coral;  */
    margin-top: 50px;
    height: var(--body--height);
}

#about {
    width: 310px;
    z-index: 2;
    overflow-y: scroll;
    background-color: var(--soft--grey);
    position: absolute; /* Positioning it relative to the parent */
    top: 0;
    left: 0;
    width: 250px; /* Set the desired width */
    margin-top: 50px;
    height: var(--body--height);
}

#insights-tab, #layers-tab {
    background-color: var(--blue);
    font-size: var(--sub-fontsize);
    color: var(--teal);
    border: var(--teal);
    font-weight: 300;
    height: 80px;
    align-items: center;
    border-bottom: 2px solid var(--grey);
}

#insights-tab:hover, #layers-tab:hover {
  color: var(--green);
  border-bottom: 2px solid var(--green);
}

.active-tab {
  color: var(--teal);
  border-bottom: 2px solid var(--teal) !important;
  background-color: var(--soft--grey) !important;
  font-weight: 400 !important;
}

.title-text {
    font-weight: 500 !important;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: var(--font--title);
}
.page-text {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.3;
    font-size: var(--page-fontsize);
}

.guidance-text {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.3;
    font-size: var(--font--title);
    margin: 0px;
}

.header-text {
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
    font-size: var(--font--title);
}

.dropdown-header-text {
    font-weight: 300;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: var(--font--title);
}

.dropdown-select {
    padding-right: 15px;
    padding-left: 15px;
}


.hr {
    margin-left: 15px;
    margin-right: 15px;
}