/*CSS Across the App*/

:root {
    /* Color styles */
    --space--blue: #1F244D;
    --electric--blue: #0A8AD2;
    --soft--grey: #F9F9F9;
    --black: #000000;
    --pnnl--orange: #F09326;
    --pnnl--orange-img: invert(58%) sepia(13%) saturate(3207%) hue-rotate(0deg) brightness(100%) contrast(80%);
    --pnnl--orange-img2: invert(38%) sepia(13%) saturate(3207%) hue-rotate(0deg) brightness(100%) contrast(80%);
    --white-img: invert(108%) sepia(0%) saturate(3207%) hue-rotate(0deg) brightness(100%) contrast(100%);
    --grey: #D9D9D9;
    --white: #FFFFFF;
    --hard--grey: #545454;
    --teal: #328054;
    --green: #1fa65a;

    /* Text-size styles */
    --font--footer: 16px;
    --font--tag: 13px;
    --font--name: 16px;
    --font--title: 16px;
    --font--namespace: 48px;
    --font--number: 13px;
    --page-fontsize: 14px;

    --font--weight--footer: 5;
    --body--height: calc(100vh - 50px);
}

a {
    text-decoration: none; /* Removes underline */
}