#adjust-mode {
    z-index: 2;
    overflow-y: scroll;
    background-color: var(--soft--grey);
    position: absolute; /* Positioning it relative to the parent */
    top: 0;
    right: 0;
    margin-top: 60px;
    margin-right: 270px;
    background: transparent;
}

#map-selector {
    z-index: 2;
    position: absolute; /* Positioning it relative to the parent */
    top: 0;
    left: 47%;
    margin-top: 60px;
    height: 50px;
    /* margin-right: 470px; */
    /* background: transparent; */
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 5px;
}



#globe_preview, #flat_preview, #sun_preview, #moon_preview {
    width: 30px; 
    height: 30px;
}


.button {
    border: none;
    background-color: white;
    display: flex;
    align-items: center; /* Center items vertically */
    /* width: 150px;   */
    /* height: 50px;  */
    /* border: 2px solid #ccc; */
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px; 
    margin-right: 10px; 
    /* font-size: 16px; */
    /* transition: background-color 0.3s, border-color 0.3s; */
    transition: background-color 0.3s ease;
}

.button:hover {
    /* background-color: #486bdb;  */
    /* filter: var(--white-img); */
}

.button-selected {
    border: none;
    margin-left: 10px; 
    margin-right: 10px; 
    /* background-color: #a0d3a0;  */
    background-color: #c6cccf;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.button img {
    width: 30px; 
    height: 30px;
}

/* #adjust-mode > div > div > div:nth-child(2) > button{
    background-color: white;
    color: white;
} */
