#data_title {
    background: #b84427;
    color: white;
}
.metatext {
    padding: 0px 0px 5px 15px;
    vertical-align: middle;
}

.horizonal-text {
    display: flex;
    padding: 0px 0px 0px 0px;
}